<h2>About Us</h2>
<p>Welcom to Ifarms. we are a community where you can meet expert farmers so that they can help you as desired! </p>
<h3 class= "text-center">Cultivation Guide</h3>
<p>Cultivation or Production of Cannabis

Date Produced: 14 February 2012
Title: Drugs
Offence: Cultivation or Production of Cannabis
Legislation: Section 6 (2) Misuse of Drugs Act 1971 for cultivation, Section 4 (2)  Misuse of Drugs Act 1971 for production
Mode of Trial: Either Way
Statutory Limitations & Maximum Penalty:  14 years </p>
<p>
The definitive drugs guideline comes into place on 27 February 2012 and applies to all drug offences sentenced after that date.

The new guideline may cause an upward shift in the length of sentence for offenders being sentenced for Class B production/cultivation. </p>
<p>The route to sentence:-  </p>

<h4>Step 1</h4> 
<p>
determine the offender's role; then the category of the offence.</p>
<p>The offenders role
Leading role

Directing or organising production on a commercial scale;
Substantial links to, and influence on, others in a chain;
Expectation of substantial financial gain;
Uses business as cover;
Abuses a position of trust or responsibility.
</p>
<p>
Significant role

Operation or management function within a chain;
Involves others in the operation whether by pressure, influence, intimidation or reward;
Motivated by financial or other advantage, whether or not operating alone;
Some awareness and understanding of scale of operation.
</p>
<p>
Lesser role

Performs a limited function under direction;
Engaged by pressure, coercion, intimidation;
Involvement through naivety/exploitation;
No influence on those above in a chain;
Very little, if any, awareness or understanding of the scale of operation;
If own operation, solely for own use (considering reasonableness of account in all the circumstances).
</p>

<p>The category of harm is determined by the output/potential output of the operation.
Category 1

an operation capable of producing industrial quantities for commercial use. E.g. a factory, farming size greenhouses or houses dedicated to the growing of cannabis. Look for 'gardeners exploited and trapped in the set up, and networked operation cultivating cannabis over various sites'.
</p><p>Category 2

an operation capable of producing significant quantities for commercial use. It is easy to identify the smaller operations that fall into category 2; they will be a room or loft dedicated to the growing and drying of cannabis; more 'cottage industry' than 'factory.'  What is not so easy is to distinguish top end category 2 from a category 1 case; the only difference between the 2 categories is category 1 is defined as the production of 'industrial' quantities as opposed to 'significant' quantities in category 2. 
</p>
<p>Category 3

28 plants with an assumed yield of 40g per plant.
</p> 
<p>Category 4

9 plant domestic operation.

It is worth noting that the guideline assumes a yield of 40g a plant. Up to now a plants yield has often been in issue; it may be that the guideline assumption of 40g a plant will become the standard projection in calculating a plants yield.
</p>
<p>
Category 1, 2 and 3 cases are likely to share some of the following features:-

sophisticated growing system 
measures taken to conceal the operation;
plants well tended;
abstraction of electricity or electricity supplied by a generator;
look for discarded plant debris (significant amount of rotting stalks/vegetation indicates that there has been earlier growing cycles).
</p>

<h4>Step 2</h4>
<p>
sentencing range
Category 1 
Leading role

Starting Point: 8 years
Category Range: 7-10 
Significant role

Starting Point: 5 years 6 months
Category Range: 5-7 
Lesser role

Starting Point: 3 years
Category Range: 2 years 6 months-5 years
Category 2 
Leading role

Starting Point: 6 years
Category Range: 4yrs 6mnths-8 yrs 
Significant role

Starting Point: 4 years
Category Range: 2 yrs 6 mnths-5yrs 
Lesser role

Starting Point: 1 year
Category Range: 26 weeks-3 years
Category 3 
Leading role

Starting Point: 4 years
Category Range: 2 years 6 months-5 years
Significant role

Starting Point: 1 year
Category Range: 26 weeks-3 years 
Lesser role

Starting Point: High level community order
Category Range: low level community order to 26 weeks
Category 4 
Leading role

Starting Point: 1 year
Category Range: High level community order-3 years 
Significant role

Starting Point: High level community order
Category Range: Medium level community order-26 weeks 
<h4>Step 3</h4>
<p>
consider factors which indicate a reduction such as assistance to the prosecution
</p>
<h4>Step 4</h4>
<p>
reduction for guilty plea
</p>

<h4>Step 5</h4>
<p>
totality principle where sentencing for more than one offence or the offender is already serving.
</p>
<h4>Step 6</h4>
<p>
confiscation and ancillary orders; including POCA, forfeiture orders and destruction orders
</p>
<h4>Step 7</h4>
<p>
reasons/explanation for sentence
<p>
<h4>Step 8</h4>
<p>
consider time spent on remand in custody or bail.
</p>